<form [formGroup]="userActivity" class="container form-group bg-white" (ngSubmit)="sendSurvey()">
  <div class="header text-center">
    <h1>Aktywności ({{generateCurrentWeek(raidActivity.week.start)}} - {{generateCurrentWeek(raidActivity.week.end)}})</h1>
    <p>{{raidActivity.information}}</p>
  </div>
  <div class="card shadow-sm container">
    <div class="p-3 mb-2">
      <label class="card-subtitle text-muted" for="player">Nick</label>
      <input 
        type="text" 
        class="form-control mb-2" 
        name="player"
        id="player"
        formControlName="player"
      > 
      <div class="btn-group d-flex" >
        <div class="col  ps-2 pe-2 pb-3" *ngFor="let role of raidActivity.roles">
          <input class="btn-check" type="radio" name="role" id="{{role}}" value="{{role}}" formControlName="role">
          <label class="btn btn-outline-primary w-100" for="{{role}}"> {{role | uppercase}} </label>
        </div>       
      </div>
      <div formArrayName="selectedRaid">
        <div class="card shadow-sm mb-4" *ngFor="let activity of raidActivity.raids; let acitivityIndex = index" >      
          <div class="row p-2 btn-group d-flex" [formGroupName]="acitivityIndex">
            <p class="card-subtitle text-muted" name="raidName">{{activity.name}}</p>      
            <div *ngFor="let role of activity.difficults" class="col">     
              <input 
                class="btn-check" 
                type="radio" 
                id="{{activity.name}}_{{role}}"
                value="{{role}}" 
                formControlName="raidDiff"
              >
              <label           
                class="btn btn-outline-primary w-100" 
                for="{{activity.name}}_{{role}}">{{role | uppercase}}
              </label>   
            </div>    
          </div>  
        </div> 
      </div>
      <div class="card shadow-sm mb-4" *ngIf="raidActivity.days.length > 0">
        <table class="table table-light table-striped mb-0" >
          <thead>
            <tr>
              <th>Dni\godziny</th>
              <th *ngFor="let hour of raidActivity.hours">{{hour}}</th>
            </tr>
          </thead>
          <tbody formArrayName="raidDays">
            <tr *ngFor="let day of raidActivity.days; let i = index" [formGroupName]="i" >
              <th>{{day}}</th> 
              <td *ngFor="let hour of raidActivity.hours">
                <input style="cursor: pointer;" 
                  type="checkbox" formArrayName="hours" (click)="checkRaidingHours(i, hour)">
              </td>
                                         
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
  <div class="d-grid col-6 mx-auto ">
    <button class="btn btn-primary mt-3 mb-3" type="submit" [disabled]="!userActivity.valid">Wyślij formularz</button>
  </div>
</form>